h1{
    color: aqua;
    background-color: black;
    text-align: left;
    font-weight: bold;
}
span{
    color: aliceblue;
}
h2{
    color: aliceblue;
    background-color: blueviolet;
    text-align: center;
}
h3{
    color: blue;
    background-color: aquamarine;
    text-align: right;
    text-decoration: underline;
}