.nav{
    background-color:rgb(61, 61, 61);
    height: 50px;
    width: 800px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0px 0px 0px 20px;
}
.nav-title{
    color: azure;
    margin-right: auto;
}
.nav-links{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    color: white; 
    list-style: none;
    text-decoration: none;
}
.nav-links,:first-child{
    text-decoration: none;
    color: white;
}
.active{
    font-weight: bold;
}
.btn{
    background-color: rgb(4, 153, 153);
    box-shadow: 2px 2px black;
    font-weight: bold;
}
