* {
    margin: 0px;
    padding: 0px;
}

.body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: rgb(32, 133, 167);
    color: white;
}

.top-nav {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.top-nav ul {
    width: 40%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    /* this removes the numbers or dots infront of the links*/
}

.top-nav h1 {
    color: white;
    font-size: 3pc;
    padding: 10px;
}

.top-nav a {
    color: white;
    text-decoration: none;
    /* this removes the underline to the links*/
    font-size: 1.5pc;
}


.cityContainer {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    border-bottom: 2px solid black;
}

.cityContainer h2 {
    font-size: 2pc;
}

.cityContainer,
.cityContainer label {
    font-size: 1.5pc;
    padding: 5px;
}

.cityContainer select {
    width: 60px;
}

.mid-page {
    display: flex;
}

.column {
    flex: 1;
    text-align: center;
    background-color: lightgray;
    padding: 40px 0;
    margin-right: 20px;
}

.column:last-child {
    margin-right: 0;
}

.column img {
    border-radius: 50%;
    width: 156px;
    margin: 40px 0;
}

.column p {
    font-size: 1.5pc;
}

.temps {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.high,
.low {
    font-size: 1.5pc;
    font-weight: bold;
}

.high::after,
.low::after {
    content: " o ";
}

.high {
    color: red;
}

.low {
    color: blue;
}

.bottom-page {
    width: 100%;
    position: absolute;
    bottom: 10px;
}

.cookieNote {
    box-sizing: border-box;
    width: 1000px;
    height: 160px;
    padding: 20px;
    border: 2px solid black;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cookieMsg {
    width: 70%;
}

.cookieMsg h2 {
    font-size: 1.5pc;
}

.cookieMsg p {
    font-size: 1pc;
}

.accept {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: 2px solid #000;
    box-shadow: 4px 4px #000;
    background-color: #9fc5f8;
    cursor: pointer;
}